body{
  margin: 0;
  background-color: #07091b;
}

.header{
  background-image: url('./assets/poster.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}